/**
 * Fonts
 */

 @font-face {
    font-style: normal;
    font-weight: 400;
    font-family: Inter;
    src: local(''), url('/fonts/inter-v3-latin-400.woff2') format('woff2');
}

@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: Inter;
    src: local(''), url('/fonts/inter-v3-latin-600.woff2') format('woff2');
}

@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: Inter;
    src: local(''), url('/fonts/inter-v3-latin-700.woff2') format('woff2');
}


.action-button-layout {
    background-color: transparent;
    border:none;
    font-family: inherit;
    font-size: 13px;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    border-right: 1.5px solid grey;
    padding: 5px 7px;
}

.action-button-layout:last-child {
    border:none;
}

.action-button-layout svg {
    vertical-align: middle;
}