@font-face {
  font-family: 'Inter';
  font-weight: 200;
  font-style: normal;
  src: url('Inter-ExtraLight.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
  src: url('Inter-Light.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url('Inter-Medium.ttf');
}

@font-face {
  font-family: 'SF Mono';
  font-weight: 400;
  font-style: normal;
  src: url('SFMonoRegular.otf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url('Inter-SemiBold.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url('Inter-Bold.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  font-style: normal;
  src: url('Inter-ExtraBold.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  src: url('Inter-Black.ttf');
}
