/**
 * Fonts
 */

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: Inter;
  src:
    local(""),
    url("/fonts/inter-v3-latin-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: Inter;
  src:
    local(""),
    url("/fonts/inter-v3-latin-600.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: Inter;
  src:
    local(""),
    url("/fonts/inter-v3-latin-700.woff2") format("woff2");
}

/**
 * Other
 */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

.cta-container {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 24px 12px;
  background: linear-gradient(150deg, #fff 55%, #ffde8c 55%);
  background-color: #fff;
  color: #3d3d3d;
  font-family: Inter, sans-serif;
  text-align: center;
}

.cta-container__wrapper {
  position: relative;
  z-index: 1;
}

.cta-container__title {
  padding: 0 24px 24px;
  font-weight: 600;
  font-size: 16px;
}

.cta-container__icon {
  vertical-align: unset;
  margin-bottom: -4px;
  fill: none;
}

.cta-container__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 34px;
  margin: 36px auto 14px;
  border-radius: 40px;
  background-color: #fff;
  color: inherit;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.cta-container__text {
  margin: 0;
  font-size: 12px;
}

.cta-container__textlink {
  color: inherit;
  font-weight: 700;
}
