**/node_modules
**/dist
**/.DS_Store
**/.env*
**/Dockerfile
**/.dockerignore
**/*.yaml
.secrets*.yaml
apple
android

# Browser extension builds (large and not needed for server builds)
pkg/extension
pkg/extension-v3
