<!DOCTYPE html>
<html>
<head>
  <title>Omnivore Extension Settings</title>
  <script src="/scripts/common.js"></script>

</head>
<body>
  <div class='wrapper'>
    <h1>API Key</h1>

    <p>Normally Omnivore uses an authentication cookie that is set when
      you log in at <a href='https://omnivore.app'>omnivore.app</a>. If
      your security settings do not allow the extension to access this
      cookie (for example if you are using containers), you can set an
      API token in the extension's local storage instead.
    </p>

    <p>To do this, create an API key at 
      <a href='https://omnivore.app/settings/api'>omnivore.app/settings/api</a>,
      paste it into the textbox below, and choose 'Save API Key'.
    </p>
    
    <p></p>
    <label for="api-key">API Key:</label>
    <input type="text" id="api-key">

    <br><br>

    <button id="save-api-key-btn">Save API Key</button>
    <button id="load-api-key-btn">Load API Key</button>
    <button id="clear-api-key-btn">Clear API Key</button>

    <p>&nbsp;</p>

    <h1>API URL</h1>
    <p>For users self hosting their own instance of Omnivore, you can set the API URL here.
      Note this should be the URL of the graphql endpoint, not the webserver.
    </p>

    <p>
    For example, if you are running the Omnivore API at <a href="">https://api-omnivore.mydomain.com</a>,
    the API URL would be <a href="">https://api-omnivore.mydomain.com/api</a>.
    </p>

    <label for="api-url">API URL:</label>
    <input type="text" id="api-url">
    <br><br>
    <button id="save-api-url-btn">Save API URL</button>
    <button id="load-api-url-btn">Load API URL</button>
    <button id="clear-api-url-btn">Clear API URL</button>
    <p>&nbsp;</p>

    <h1>Settings</h1>

    <p>
      <input type="checkbox" id="disable-auto-dismiss" />
      <label for="auto-dismiss">Disable Auto Dismiss</label>
    </p>

    <p>
      <label for="auto-dismiss-time">Auto Dismiss time (ms)</label>
      <input type="text" id="auto-dismiss-time" />
      <button id="auto-dismiss-time-btn">Save</button>
    </p>

    <p>&nbsp;</p>

    <h1>Privacy</h1>
    <p class="consent-text">To function Omnivore needs to collect some data. This data is used to authenticate you with our servers, and save pages to your library.</p>
    

    <p class="consent-text">Omnivore uses the following data:</p>
    <ul>
      <li><b>Tab Data</b>: When you invoke the extension, we access the content of the page you are currently viewing. This allows us to save the full content of the page, exactly how you are viewing it. That data is then transmitted to our servers and added to your library</li>
      <li><b>Authentication cookie</b>: When you invoke the extension we access the auth cookie you used to authenticate at <a href="https://omnivore.app">https://omnivore.app</a>. This cookie identifies you as an Omnivore user and ties the saving operation to your Omnivore account.</li>
    </ul>
    <p class="consent-text">For full details about the data we collect you can read our <a href="https://docs.omnivore.app/about/privacy-statement.html">privacy statement</a></p>

    <label for="consent-checkbox">
        <input type="checkbox" id="consent-checkbox"> I consent to data collection
    </label>

    <button id="consent-button" onclick="handleConsent()">Save</button>

    <p>&nbsp;</p>
  </div>
  <script src="/scripts/options.js"></script>
</body>
</html>