<!DOCTYPE html>
<!-- <html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Omnivore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/styles/save-popup.css" />
  </head>

  <body>
    <section class="save-container">
      <div class="save-header">
        <div class="save-notification">
          <div class="save-content">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
            >
              <path
                d="M13.4375 8.125L8.85414 12.5L6.5625 10.3125"
                stroke="#55B938"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z"
                stroke="#55B938"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            Saved to Omnivore
          </div>
        </div>
        <div class="read-now">
          <a id="get-article-link" href="" target="_blank"
            ><b>
              Read now
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  d="M2.5 8H13.5"
                  stroke="#3B3A38"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9 3.5L13.5 8L9 12.5"
                  stroke="#3B3A38"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                /></svg></b
          ></a>
        </div>
      </div>

      <div class="title" id="title-container">
        <h4 id="article-title"></h4>
      </div>
      <div class="edit-Title-container" id="edit-Title-container-id">
        <textarea
          id="article-title-edit"
          class="article-title-edit-class"
          name="Text1"
          rows="5"
        ></textarea>
      </div>
      <div class="flag-container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="imageFlag"
          width="17"
          height="17"
          viewBox="0 0 17 17"
          fill="none"
        >
          <path
            d="M8.9873 15.1387L15.707 8.41211C16.2607 7.8584 16.3223 7.53027 16.3223 6.7168V4.12598C16.3223 3.35352 16.1377 3.06641 15.5635 2.49219L14.0049 0.933594C13.4238 0.352539 13.1436 0.167969 12.3711 0.167969H9.78027C8.9668 0.167969 8.64551 0.243164 8.0918 0.796875L1.36523 7.5166C0.3125 8.5625 0.298828 9.69727 1.36523 10.7637L5.74707 15.1387C6.81348 16.1982 7.94141 16.1914 8.9873 15.1387ZM8.02344 13.9492C7.59277 14.3799 7.15527 14.3867 6.71094 13.9492L2.55469 9.79297C2.11035 9.34863 2.12402 8.9043 2.54785 8.48047L9.17871 1.86328C9.31543 1.72656 9.43848 1.65137 9.65039 1.65137H12.3232C12.5215 1.65137 12.665 1.72656 12.7949 1.85645L14.6406 3.70215C14.7705 3.83203 14.8389 3.96875 14.8389 4.16699V6.84668C14.8389 7.07227 14.7773 7.19531 14.6406 7.3252L8.02344 13.9492ZM11.4893 6.01953C12.0635 6.01953 12.501 5.5752 12.501 5.00781C12.501 4.44043 12.0635 3.99609 11.4893 3.99609C10.9082 3.99609 10.4775 4.44043 10.4775 5.00781C10.4775 5.5752 10.9082 6.01953 11.4893 6.01953Z"
            fill="#0A0806"
            fill-opacity="0.65"
          />
        </svg>

        <input list="brow" class="input-flag" placeholder="Add a label..." />
        <datalist id="brow">
          <option value="None">
            <!-- <option value="Firefox">
        <option value="Chrome">
        <option value="Opera">
        <option value="Safari"> 
          </option>
        </datalist>

        <br /><br />
      </div>

      <div class="save-footer">
        <div class="save-footer-buttons">
          <button id="action-edit1-button" class="action-edit1-button1">
            <span id="edit-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="17"
                height="17"
                viewBox="0 0 17 17"
                fill="none"
              >
                <path
                  d="M5.24112 15.875H1.75C1.58424 15.875 1.42527 15.8092 1.30806 15.692C1.19085 15.5748 1.125 15.4158 1.125 15.25V11.7589C1.125 11.6768 1.14117 11.5956 1.17258 11.5197C1.20398 11.4439 1.25002 11.375 1.30806 11.317L10.6831 1.94197C10.8003 1.82476 10.9592 1.75891 11.125 1.75891C11.2908 1.75891 11.4497 1.82476 11.5669 1.94197L15.0581 5.43309C15.1753 5.5503 15.2411 5.70927 15.2411 5.87503C15.2411 6.04079 15.1753 6.19976 15.0581 6.31697L5.68306 15.692C5.62502 15.75 5.55612 15.796 5.48029 15.8275C5.40447 15.8589 5.32319 15.875 5.24112 15.875Z"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <!-- <i class="fas fa-pen"></i> 
              Edit</span
            >
          </button>
        </div>

        <div class="save-footer-buttons">
          <button id="action-archive-button" class="action-archive-button1">
            <span id="archive-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="21"
                height="20"
                viewBox="0 0 21 20"
                fill="none"
              >
                <path
                  d="M16.75 16.875H4.25C4.08424 16.875 3.92527 16.8092 3.80806 16.6919C3.69085 16.5747 3.625 16.4158 3.625 16.25V5.625L4.875 3.125H16.125L17.375 5.625V16.25C17.375 16.4158 17.3092 16.5747 17.1919 16.6919C17.0747 16.8092 16.9158 16.875 16.75 16.875Z"
                  stroke="#0A0806"
                  stroke-opacity="0.65"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M7.84839 11.7234L10.5 14.375L13.1517 11.7234"
                  stroke="#0A0806"
                  stroke-opacity="0.65"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M10.5 8.125V14.375"
                  stroke="#0A0806"
                  stroke-opacity="0.65"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.625 5.625H17.375"
                  stroke="#0A0806"
                  stroke-opacity="0.65"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              Archive</span
            >
          </button>
        </div>
        <div class="save-footer-buttons">
          <button id="action-delete-button" class="action-delete-button1">
            <!-- <span id="delete-button"> 
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="21"
              height="20"
              viewBox="0 0 21 20"
              fill="none"
            >
              <path
                d="M17.3748 4.375L3.62476 4.37501"
                stroke="#0A0806"
                stroke-opacity="0.65"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M8.625 8.125V13.125"
                stroke="#0A0806"
                stroke-opacity="0.65"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12.375 8.125V13.125"
                stroke="#0A0806"
                stroke-opacity="0.65"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M7.375 1.875H13.625"
                stroke="#0A0806"
                stroke-opacity="0.65"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M16.1248 4.375V16.25C16.1248 16.4158 16.0589 16.5747 15.9417 16.6919C15.8245 16.8092 15.6655 16.875 15.4998 16.875H5.49976C5.334 16.875 5.17502 16.8092 5.05781 16.6919C4.9406 16.5747 4.87476 16.4158 4.87476 16.25V4.375"
                stroke="#0A0806"
                stroke-opacity="0.65"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            Delete
          </button>
        </div>
      </div>
    </section>
    <script src="../scripts/save-popup.js"></script>
 
  </body>
</html> -->


<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Omnivore</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/styles/save-popup.css" />

  <!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->

</head>

<body>
  <section class="save-container">



    <div class="save-footer">
        <!-- // tab-1  Edit Title    action-Edit-Title  [ action-edit1-button1 ]
        //tab-2    Set Labels   action-Set-Labels [ action-edit1-button1 ] 
        // tab-3   Read Now     action-Read-Now [action-edit1-button1] 
        // tab-4    Options     action-Options  [action-edit1-button1 ]  
       
         tab-non-Selected
         tab-Selected
    -->
    
        


      <div class="save-footer-buttons">
        <button id='action-Edit-Title' class="action-edit1-button1">

          <span id="edit-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
              <path
                d="M5.24112 15.875H1.75C1.58424 15.875 1.42527 15.8092 1.30806 15.692C1.19085 15.5748 1.125 15.4158 1.125 15.25V11.7589C1.125 11.6768 1.14117 11.5956 1.17258 11.5197C1.20398 11.4439 1.25002 11.375 1.30806 11.317L10.6831 1.94197C10.8003 1.82476 10.9592 1.75891 11.125 1.75891C11.2908 1.75891 11.4497 1.82476 11.5669 1.94197L15.0581 5.43309C15.1753 5.5503 15.2411 5.70927 15.2411 5.87503C15.2411 6.04079 15.1753 6.19976 15.0581 6.31697L5.68306 15.692C5.62502 15.75 5.55612 15.796 5.48029 15.8275C5.40447 15.8589 5.32319 15.875 5.24112 15.875Z"
                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <!-- <i class="fas fa-pen"></i> -->
            Edit Title </span>
        </button>

      </div>

      <div class="save-footer-buttons">
        <!-- //tab-2    Set Labels   action-Set-Labels -->
        <button id='action-Set-Labels' class="action-edit1-button1 ">
          <span id="archive-button">
            <svg xmlns="http://www.w3.org/2000/svg"
            class="tab-Selected"
            width="21" height="20" viewBox="0 0 21 20" fill="none">
              <path
               class="tab-Selected"
                 d="M16.75 16.875H4.25C4.08424 16.875 3.92527 16.8092 3.80806 16.6919C3.69085 16.5747 3.625 16.4158 3.625 16.25V5.625L4.875 3.125H16.125L17.375 5.625V16.25C17.375 16.4158 17.3092 16.5747 17.1919 16.6919C17.0747 16.8092 16.9158 16.875 16.75 16.875Z"
                stroke="#0A0806" stroke-opacity="1.65" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
              <path 
              class="tab-Selected"
              d="M7.84839 11.7234L10.5 14.375L13.1517 11.7234" stroke="#0A0806" stroke-opacity="0.65"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path 
              class="tab-Selected"
              d="M10.5 8.125V14.375" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
              <path
              class="tab-Selected"
               d="M3.625 5.625H17.375" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            Set Labels 
        </span>
        </button>

      </div>
      <div class="save-footer-buttons">
        <!-- tab-3   Read Now     action-Read-Now -->
        <button id='action-Read-Now' class="action-edit1-button1">

          <!-- <span id="delete-button"> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
            <path d="M17.3748 4.375L3.62476 4.37501" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M8.625 8.125V13.125" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M12.375 8.125V13.125" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M7.375 1.875H13.625" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M16.1248 4.375V16.25C16.1248 16.4158 16.0589 16.5747 15.9417 16.6919C15.8245 16.8092 15.6655 16.875 15.4998 16.875H5.49976C5.334 16.875 5.17502 16.8092 5.05781 16.6919C4.9406 16.5747 4.87476 16.4158 4.87476 16.25V4.375"
              stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          Read Now

        </button>


      </div>


    
      <div class="save-footer-buttons">
      
        <button id='action-Options' class="action-edit1-button1 ">
         <!-- // tab-4    Options     action-Options --> 
          <!-- <span id="delete-button"> -->
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
            <path d="M17.3748 4.375L3.62476 4.37501" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M8.625 8.125V13.125" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M12.375 8.125V13.125" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M7.375 1.875H13.625" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M16.1248 4.375V16.25C16.1248 16.4158 16.0589 16.5747 15.9417 16.6919C15.8245 16.8092 15.6655 16.875 15.4998 16.875H5.49976C5.334 16.875 5.17502 16.8092 5.05781 16.6919C4.9406 16.5747 4.87476 16.4158 4.87476 16.25V4.375"
              stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          Options

        </button>


      </div>
    </div>

    <div id="SelectedTab">
      
    </div>
  

    <div>
        <!-- tab-1-container
        tab-2-container
        tab-3-container
        tab-4-container -->
        <div id="tab-1-container" class="baseFeatures">

         
           <div id="BeforeSavedContainer">

            <textarea id="article-title-edit"
            class="article-title-edit-class"
             name="Text1" 
             rows="5"></textarea>

             <button class="edit-Title-Saved-Button" id = "action-Saved-Button">

              Saved 
             </button>

           </div>
           <div id="AfterSavedContainer" class="AfterSavedContainerClass"> 

              Title Saved.

           </div>
         


          
        </div>
    
        <div id="tab-2-container" class="baseFeatures baseFeaturesTab3">
          <div class="container">
         
            <div class="flag-container">
              <svg xmlns="http://www.w3.org/2000/svg" class="imageFlag" width="17" height="17" viewBox="0 0 17 17" fill="none">
                <path
                  d="M8.9873 15.1387L15.707 8.41211C16.2607 7.8584 16.3223 7.53027 16.3223 6.7168V4.12598C16.3223 3.35352 16.1377 3.06641 15.5635 2.49219L14.0049 0.933594C13.4238 0.352539 13.1436 0.167969 12.3711 0.167969H9.78027C8.9668 0.167969 8.64551 0.243164 8.0918 0.796875L1.36523 7.5166C0.3125 8.5625 0.298828 9.69727 1.36523 10.7637L5.74707 15.1387C6.81348 16.1982 7.94141 16.1914 8.9873 15.1387ZM8.02344 13.9492C7.59277 14.3799 7.15527 14.3867 6.71094 13.9492L2.55469 9.79297C2.11035 9.34863 2.12402 8.9043 2.54785 8.48047L9.17871 1.86328C9.31543 1.72656 9.43848 1.65137 9.65039 1.65137H12.3232C12.5215 1.65137 12.665 1.72656 12.7949 1.85645L14.6406 3.70215C14.7705 3.83203 14.8389 3.96875 14.8389 4.16699V6.84668C14.8389 7.07227 14.7773 7.19531 14.6406 7.3252L8.02344 13.9492ZM11.4893 6.01953C12.0635 6.01953 12.501 5.5752 12.501 5.00781C12.501 4.44043 12.0635 3.99609 11.4893 3.99609C10.9082 3.99609 10.4775 4.44043 10.4775 5.00781C10.4775 5.5752 10.9082 6.01953 11.4893 6.01953Z"
                  fill="#0A0806" fill-opacity="0.65" />
              </svg>
        
        
            
              <input  class="input-flag" id="filter" placeholder="Add adss label..." >
           
              
              <br><br>
            
            
            </div>

            <!-- <div class="cellDev">
              <h4 class="titleLabelLeft"> this is some new things </h2>
              <input type="checkbox"   class="checkboxStyle" />
            </div> -->


            
            <ul id="result"  class= "labelUL" >
                <li><h3>Loading...</h3></li>
            </ul>
        </div>

            
        </div>
    
        <div id="tab-3-container" class="baseFeatures">
    
           <div>
            <h4 id="article-title"> </h4>
           </div>
            
        </div>
    
        <div id="tab-4-container" class="baseFeatures">
    
           <div>
          
            <button id='action-Archive-Now' class="action-edit1-button1">

                <!-- <span id="delete-button"> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                  <path d="M17.3748 4.375L3.62476 4.37501" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M8.625 8.125V13.125" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M12.375 8.125V13.125" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M7.375 1.875H13.625" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M16.1248 4.375V16.25C16.1248 16.4158 16.0589 16.5747 15.9417 16.6919C15.8245 16.8092 15.6655 16.875 15.4998 16.875H5.49976C5.334 16.875 5.17502 16.8092 5.05781 16.6919C4.9406 16.5747 4.87476 16.4158 4.87476 16.25V4.375"
                    stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
               Archive
      
              </button>

              <br>
              <hr>

              <button id='action-Delete-Now' class="action-edit1-button1">

                <!-- <span id="delete-button"> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                  <path d="M17.3748 4.375L3.62476 4.37501" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M8.625 8.125V13.125" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M12.375 8.125V13.125" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M7.375 1.875H13.625" stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M16.1248 4.375V16.25C16.1248 16.4158 16.0589 16.5747 15.9417 16.6919C15.8245 16.8092 15.6655 16.875 15.4998 16.875H5.49976C5.334 16.875 5.17502 16.8092 5.05781 16.6919C4.9406 16.5747 4.87476 16.4158 4.87476 16.25V4.375"
                    stroke="#0A0806" stroke-opacity="0.65" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                Delete
      
              </button>



           </div>
            
        </div>
    </div>



  </section>
  <script src="../scripts/save-popup.js"></script>
  
  <script src="../scripts/save-popup2.js" ></script>
</body>

</html>