<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Omnivore</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/styles/save-popup.css">
</head>

<body>
    <section class="save-container">
        <div class="save-header">
            <svg class="save-icon" width="30" height="30" viewBox="-2 0 22 18" fill="#18914C" stroke="#18914C" stroke-width="10" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm0 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zm3.043 4.502.085.015.063.02.076.04.055.04.032.03.037.041.042.062.03.06.02.062.015.082.002.067-.008.068-.03.102-.05.093-.047.057-4.011 4.013a.5.5 0 0 1-.638.057l-.07-.057-2-2-.037-.042-.042-.062-.03-.06-.02-.062-.012-.06-.004-.053v-.057l.016-.086.02-.063.04-.076.04-.055.03-.032.041-.037.062-.042.06-.03.062-.02.059-.012.054-.004h.058l.085.016.063.02.093.052.057.046L7 9.293l3.646-3.647.042-.037.062-.042.06-.03.062-.02.059-.012.054-.004h.058z" />
                </path>
            </svg>
            <span>Saved to Omnivore</span>
        </div>

        <div class="save-content">
            <h4 id="article-title"></h4>
        </div>

        <div class="save-footer">       
            <a target="_blank" class="save-link" id="get-article-link" href="#">Read Now</a>
            <svg class="arrow-icon" width="30" height="30" viewBox="-5 -5 35 15" stroke="black" stroke-width="10" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
        </div>
    </section>

    <script src="../scripts/save-popup.js">        
    </script>
</body>

</html>