.swiftpm/

*.xcuserstate
.DS_Store
*.xcuserdatad

.build
/build
*/xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
.bundle
output/
/vendor
*.dSYM.zip

OmnivoreKit/Sources/Utils/Resources/Keys.json