.article-inner-css * {
  max-width: 100%;
}

.highlight {
  color: var(--colors-highlightText);
  background-color: var(--colors-highlightBackground);
  cursor: pointer;
}

.highlight_with_note {
  color: var(--colors-highlightText);
  border-bottom: 2px var(--colors-highlightBackground) solid;
  border-radius: 2px;
  cursor: pointer;
}

.article-inner-css .highlight_with_note .highlight_note_button {
  display: unset !important;
  margin: 0px !important;
  max-width: unset !important;
  height: unset !important;
  padding: 0px 8px;
  cursor: pointer;
}
/* 
on smaller screens we display the note icon
@media (max-width: 768px) {
  .highlight_with_note.last_element:after { 
    content: url(/static/icons/highlight-note-icon.svg);
    padding: 0 3px;
    cursor: pointer;
  }
} */

.article-inner-css h1,
.article-inner-css h2,
.article-inner-css h3,
.article-inner-css h4,
.article-inner-css h5,
.article-inner-css h6 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: var(--line-height);
  font-size: var(--text-font-size);
  color: var(--headers-color);
  font-weight: bold;
}
.article-inner-css h1 {
  font-size: 1.5em !important;
  line-height: 1.4em !important;
}
.article-inner-css h2 {
  font-size: 1.43em !important;
}
.article-inner-css h3 {
  font-size: 1.25em !important;
}
.article-inner-css h4,
.article-inner-css h5,
.article-inner-css h6 {
  font-size: 1em !important;
  margin: 1em 0 !important;
}

.article-inner-css .scrollable {
  overflow: auto;
}

.article-inner-css div {
  line-height: var(--line-height);
  /* font-size: var(--text-font-size); */
  color: var(--font-color);
}

.article-inner-css p {
  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: normal;

  color: var(--font-color);

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  > img {
    display: block;
    margin: 0.5em auto !important;
    max-width: 100% !important;
  }

  > iframe {
    width: 100%;
    height: 350px;
  }
}

.article-inner-css section {
  line-height: 1.65em;
  font-size: var(--text-font-size);
}

.article-inner-css blockquote {
  display: block;
  border-left: 1px solid var(--font-color-transparent);
  padding-left: 16px;
  font-style: italic;
  margin-inline-start: 0px;
  > * {
    font-style: italic;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}

.article-inner-css a {
  color: var(--font-color-readerFont);
}

.article-inner-css .highlight a {
  color: var(--colors-highlightText);
}

.article-inner-css figure {
  * {
    color: var(--font-color-transparent);
  }

  margin: 30px 0;
  font-size: 0.75em;
  line-height: 1.5em;

  figcaption {
    color: var(--font-color);
    opacity: 0.7;
    margin: 10px 20px 10px 0;
  }

  figcaption * {
    color: var(--font-color);
    opacity: 0.7;
  }
  figcaption a {
    color: var(--font-color);
    /* margin: 10px 20px 10px 0; */
    opacity: 0.6;
  }

  > div {
    max-width: 100%;
  }
}

.article-inner-css figure[aria-label='media'] {
  margin: var(--figure-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-inner-css hr {
  margin-bottom: var(--hr-margin);
  border: none;
}

.article-inner-css table {
  display: block;
  word-break: normal;
  white-space: nowrap;
  border: 1px solid rgb(216, 216, 216);
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.8rem;
  margin: auto;
  line-height: 1.5em;
  font-size: 0.9em;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
  caption {
    margin: 0.5em 0;
  }
  th {
    border: 1px solid rgb(216, 216, 216);
    background-color: var(--table-header-color);
    padding: 5px;
  }
  td {
    border: 1px solid rgb(216, 216, 216);
    padding: 0.5em;
    padding: 5px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  img {
    display: block;
    margin: 0.5em auto !important;
    max-width: 100% !important;
  }
}

.article-inner-css ul,
.article-inner-css ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin-top: 18px;

  font-family: var(--text-font-family);
  font-style: normal;
  font-weight: normal;

  line-height: var(--line-height);
  font-size: var(--text-font-size);

  color: var(--font-color);
}

.article-inner-css li {
  word-break: break-word;
  ol,
  ul {
    margin: 0;
  }
}

.article-inner-css sup,
.article-inner-css sub {
  position: relative;
  a {
    color: inherit;
    pointer-events: none;
  }
}

.article-inner-css sup {
  top: -0.3em;
}

.article-inner-css sub {
  bottom: 0.3em;
}

.article-inner-css cite {
  font-style: normal;
}

.article-inner-css .page {
  width: 100%;
}

/* Collapse excess whitespace. */
.page p > p:empty,
.page div > p:empty,
.page p > div:empty,
.page div > div:empty,
.page p + br,
.page p > br:only-child,
.page div > br:only-child,
.page img + br {
  display: none;
}

.article-inner-css video {
  max-width: 100%;
}

.article-inner-css dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.article-inner-css dd {
  display: block;
  margin-inline-start: 40px;
}

.article-inner-css pre,
.article-inner-css code {
  vertical-align: bottom;
  word-wrap: initial;
  font-family: 'SF Mono', monospace !important;
  white-space: pre;
  direction: ltr;
  unicode-bidi: embed;
  color: var(--font-color);
  max-width: -moz-fit-content;
  margin: 0;
  overflow-x: auto;
  word-wrap: normal;
  border-radius: 4px;
}

.article-inner-css img {
  display: block;
  margin: 0.5em auto !important;
  max-width: 100% !important;
  height: auto;
}

.article-inner-css .page {
  text-align: start;
  word-wrap: break-word;

  font-size: var(--text-font-size);
  line-height: var(--line-height);
}

.article-inner-css .omnivore-instagram-embed {
  img {
    margin: 0 !important;
  }
}


