/* Menu Override styles */

.pro-sidebar > .pro-sidebar-inner,
.pro-menu,
.pro-menu > ul > .pro-sub-menu > .pro-inner-list-item,
.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
  background-color: var(--colors-libraryBackground);
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item,
.pro-sidebar .pro-menu-item .pro-sub-menu .pro-inner-item,
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content,
.pro-sidebar .pro-menu a,
.pro-sidebar .pro-menu a:hover,
.pro-sidebar
  .pro-menu
  .pro-menu-item
  > .pro-inner-item:hover
  .pro-icon-wrapper
  .pro-icon {
  color: var(--colors-utilityTextDefault);
}

.pro-menu .pro-menu-item > .pro-inner-item {
  padding: 5px 20px;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu:before {
  content: '';
  display: block;
  width: 90%;
  border: 0.5px solid var(--colors-grayBg);
  margin-left: 10px;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
  width: 20px;
  min-width: 0;
  height: 25px;
}

.pro-sidebar .pro-menu .pro-menu-item.active {
  background-color: var(--colors-libraryActiveMenuItem);
  width: 95%;
  border-radius: 5px;
}

.pro-sidebar
  .pro-menu
  .pro-menu-item
  > .pro-inner-item:hover
  .pro-icon-wrapper
  .pro-icon {
  animation-play-state: paused;
}
