/* Inter font faces */
@font-face {
  font-family: 'Inter';
  font-weight: 200;
  font-style: normal;
  src: url('/static/fonts/Inter/Inter-ExtraLight-200.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
  src: url('/static/fonts/Inter/Inter-Light-300.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('/static/fonts/Inter/Inter-Regular-400.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url('/static/fonts/Inter/Inter-Medium-500.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url('/static/fonts/Inter/Inter-SemiBold-600.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url('/static/fonts/Inter/Inter-Bold-700.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  font-style: normal;
  src: url('/static/fonts/Inter/Inter-ExtraBold-800.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  src: url('/static/fonts/Inter/Inter-Black-900.ttf');
}

:root {
  font-size: 112.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
