<!DOCTYPE html>
<html>
<head>
  <title>Omnivore Extension Settings</title>
  <script src="/scripts/common.js"></script>

</head>
<body>
  <div class='wrapper'>
    <h1>API Key</h1>

    <p>Normally Omnivore uses an authentication cookie that is set when
      you log in at <a href='https://omnivore.app'>omnivore.app</a>. If
      your security settings do not allow the extension to access this
      cookie (for example if you are using containers), you can set an
      API token in the extension's local storage instead.
    </p>

    <p>To do this, create an API key at 
      <a href='https://omnivore.app/settings/api'>omnivore.app/settings/api</a>,
      paste it into the textbox below, and choose 'Save API Key'.
    </p>
    
    <p></p>
    <label for="api-key">API Key:</label>
    <input type="text" id="api-key">

    <br><br>

    <button id="save-api-key-btn">Save API Key</button>
    <button id="load-api-key-btn">Load API Key</button>
    <button id="clear-api-key-btn">Clear API Key</button>

    <p>&nbsp;</p>

    <h1>Settings</h1>

    <p>
      <input type="checkbox" id="disable-auto-dismiss" />
      <label for="auto-dismiss">Disable Auto Dismiss</label>
    </p>

    <p>
      <label for="auto-dismiss-time">Auto Dismiss time (ms)</label>
      <input type="text" id="auto-dismiss-time" />
      <button id="auto-dismiss-time-btn">Save</button>
    </p>

  </div>
  <script src="/scripts/options.js"></script>
</body>
</html>